%section.row.content
  .meat_and_potatoes
    .register_form
      %h3 You want to win some money right?<br /><small>Well, get to registering then!</small>

      = twitter_bootstrap_form_for @player, :class => "form-inline" do |f|
        = f.inputs "Note: All fields are required", :class => "form-inline" do
          = f.text_field :first_name, :required => true, :placeholder => "First Name"
          = f.text_field :last_name, :required => true, :placeholder => "Last Name"
          = f.text_field :username, :required => true, :placeholder => "Username"
          = f.email_field :email, :required => true, :placeholder => "me@example.com"
          = f.password_field :password, :required => true
          = f.password_field :password_confirmation, :required => true
        = f.actions do
          = f.submit 'Register', :class => "btn btn-success"
          %span.alt-action
            Already registered?
            = link_to "Log in!", root_url
