.vote_form
  - if !player_voted? && !is_playing?
    %h3 Get your vote in..
    = twitter_bootstrap_form_for @vote, :html => {:role => "form"} do |f|
      = f.select :selected_date, '', game_week_options, :required => true, :include_blank => true
      = f.submit "Vote!", :class => "btn btn-success form-inline"
  - elsif player_voted? && is_playing?
    %h3 Your seat has been reserved..
    %aside
      %p.important
        Your vote is in for the
        %strong
          %em
            week of
            = game_week_date
        %i.icon-arrow-right
      %p.well
        %i.icon-info-sign
        <strong>Can't play on the majority voted day?</strong><br />You can
        = link_to 'sit out', unvote_path(@current_player_vote), :method => :put
        this time
  - else
    %h3 Sorry you can't make it this time
    %aside
      %p.important Be sure to vote again for the next home game