.vote_form
  %h3 Get your vote in..
  - if !player_voted?
    = simple_form_for @vote, :html => {:role => "form"} do |f|
      = f.error_notification
      = f.input :selected_date, :required => false, :hint => 'foo', :collection => game_week_options
      = f.button :submit, "Vote!", :class => "btn btn-success"
  - else
    %aside
      %p
        Looks like you've already voted for the week of
        %strong
          = game_week_date
        %i.icon-arrow-right