.vote_form
  - if !player_voted?
    %h3 Get your vote in..
    = simple_form_for @vote, :html => {:role => "form"} do |f|
      = f.error_notification
      = f.input :selected_date, :required => false, :hint => 'foo', :collection => game_week_options
      = f.button :submit, "Vote!", :class => "btn btn-success"
  - else
    %h3 Your seat has been reserved..
    %aside
      %p.important
        Your vote is in for the week of
        %em
          = game_week_date
        %i.icon-arrow-right
      %p
        %i.icon-info-sign
        <strong>Changed your mind and can't play?</strong><br />You can
        = link_to 'remove your vote', {:controller => "votes", :action => "destroy", :method => "detete"}
        and seat reservation.